* {
    box-sizing: border-box;
}

.color-black {
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

.divider {
    position: relative;
    top: -17px;
}

.table {
    width: 100%;
    white-space: nowrap;
    overflow: auto hidden;
}

.dot {
    font-size: 30px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 7px;
}

.active{
    font-weight: bold;
    border-bottom: 2px solid rgb(13, 122, 40);
}

.nav-item:hover{
    font-weight: bold;
    border-bottom: 2px solid rgb(13, 182, 89);
}

.table-main-div {
    width: 93%;
    overflow: auto;
    margin: 0 auto;
    /* margin-left: 10px; */
}

.indexesImage {
    width: 28px;
    max-height: 28px;
}

.footer {
    background-color: rgb(42, 38, 38);
    color: white;
    height: 80px;
    width: 100%;
    padding-top: 17px;
    position: relative;
    bottom: 0;
}

.footer-dot {
    font-size: 17px;
}

.checkout {
    width: 50%;
    display: inline-block;
    text-align: start;
}

.checkout-div {
    width: 45%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(151, 187, 218, 0.2), 0 6px 20px 0 rgba(168, 169, 250, 0.19);
    display: inline-block;
    margin-left: 100px;
}

.furtherPage {
    width: 100%;
}

.headMarketLimit {
    text-align: start;
    font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #1f1f41;
}

.market {
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(31, 31, 65);
    text-align: start;
    text-indent: 0px;
    margin-left: 27px;
}

.limit {
    margin-left: 27px;
    font-weight: normal;
    color: rgb(148, 148, 148);
}

.svg {
    float: right;
    margin-right: 20px;
}

.youPay {
    color: #000;
    float: left;
    margin-left: 27px;
    font-weight: bold;
}

.chooseToken {
    font-size: 24px;
    font-weight: 600;
    text-align: start;
    margin-left: 27px;
    color: #000;
}

.youReceive-div {
    background-color: rgb(234, 234, 255);
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    color: #000;
}

.youReceive {
    margin-left: 27px;
    font-weight: bold;
}

.coinName {
    margin-left: 27px;
    color: #000;
}

.translator-icon-div {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 11px;
    padding-top: 7px;
    margin-left: 40px;
    position: relative;
    top: -20px;
    box-shadow: 0 4px 8px 0 rgba(151, 187, 218, 0.2), 0 6px 20px 0 rgba(168, 169, 250, 0.19);
}

.result {
    width: 140px;
    height: 55px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(240, 240, 240);
    float: right;
    margin-right: 10px;
    margin-top: -7px;
}

.result::placeholder {
    padding-left: 10px;
}

.review-btn {
    border: none;
    background-color: #d2d2e6;
    padding: 20px 80px;
    border-radius: 10px;
    margin-left: 40px;
    color: #766a9e;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
}

.checkoutInfo {
    width: 40%;
    position: relative;
    top: -200px;
    display: inline-block;
    margin-left: -150px;
}

.about-heading {
    color: #000;
    text-align: start;
    font-weight: bold;
    font-size: 22px;
}

.about-sub-heading {
    text-align: start;
    float: left;
    color: #7578b5;
}

.about-footer {
    text-align: start;
    position: relative;
    top: 20px;
}

.totalSupply, .aboutVolume, .aboutMarket {
    color: #7578b5;
    margin-right: 40px;
}

.about-footers {
    text-align: start;
    position: relative;
    top: 20px;
    color: #000;
}

.gap {
    margin-right: 95px;
}

.gaps {
    margin-right: 60px;
}

.side-bar{
    background-color: rgb(126, 126, 255);
    color: white;
    width: 50%;
    height: 100%;
    z-index: 2222;
    position: absolute;
    left: 0px;
}

.sidebarName{
    text-align: start;
    margin-left: 20px;
    font-weight: bold;
}

.sidebarItems{
    text-align: start;
    margin-left: 20px;
    font-size: 17px;
}

.sidebarLinks{
    color: white;
}